<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="/static/Sloach/css/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <base href="http://localhost:5000/static/Sloach/">
</head>
<body ng-app="sloach" ng-cloak ng-controller="appCtrl">
<span flex="20"></span>
<md-toolbar scroll flex layout="row">
    <div class="md-toolbar-tools red">
     <md-button ng-show="isLoggedIn" ng-click="showMenu()" class="material-icons">menu</md-button>
        <md-button ng-show="isLoggedIn" ng-click="showProfile()" class="material-icons">person</md-button>
      <md-button ng-show="!isLoggedIn" aria-label="Logga in" ng-href="{{loginUrl}}" ui-sref="login">
        <span class="white">Logga in</span>
      </md-button>
      <md-button ng-show="!isLoggedIn" aria-label="Bli medlem" click-Link="signup">
        <span class="white">Bli medlem</span>
      </md-button>
        <span flex></span>
      <md-button ng-show="isLoggedIn" aria-label="Logga ut" ng-href="{{logoutUrl}}" ng-click="logout()" >
        <span class="white">Logga ut</span>
      </md-button>

    </div>
</md-toolbar>
<section layout="row" ng-controller="mainMenuCtrl" flex>
    <md-sidenav
        class="md-sidenav-left"
        md-component-id="mainMenu"
        md-whiteframe="4">
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools"><md-button ng-show="!$mdMedia('md')" ng-click="close()" class="material-icons" hide-gt-md>keyboard_backspace</md-button></h1>
      </md-toolbar>
      <md-content layout-padding >
       <md-card ng-click="navigateProfile()">
        <md-card-header>
            <md-card-avatar>
                <img class="md-user-avatar" src="img/avatar.png">
            </md-card-avatar>
            <md-card-header-text>
              <span class="md-title">Pawel Demczuk</span>
              <span class="md-subhead">pawel@dni.se</span>
            </md-card-header-text>
        </md-card-header>
         </md-card>
           <md-list flex>
            <md-list-item ng-href="club" ng-click="navigateClub()" class="md-2-line" >
                  <div class="md-list-item-text" layout="column">
                    <h3>Klubben</h3>
                    <h4>Visa klubb</h4>
                  </div>
            </md-list-item>
        </md-list>
      </md-content>
    </md-sidenav>
    <md-content flex layout-padding>

    </md-content>
    </section>
<div ng-view></div>
<span flex="20"></span>
<!-- Angular Material requires Angular.js Libraries -->
<script src="/static/Sloach/lib/angular.min.js"></script>
<script src="/static/Sloach/lib/angular-animate.min.js"></script>
<script src="/static/Sloach/lib/angular-aria.min.js"></script>
<script src="/static/Sloach/lib/angular-messages.min.js"></script>
<script src="/static/Sloach/lib/material-icons.min.js"></script>
<script src="/static/Sloach/lib/angular-route.min.js"></script>
<script src="/static/Sloach/lib/angular-cookies.min.js"></script>
<!-- Angular Material Library -->
<script src="/static/Sloach/lib/angular-material.min.js"></script>
<script src="/static/Sloach/lib/Chart.js"></script>
<script src="/static/Sloach/lib/angular-chart.min.js"></script>
<!-- Your application bootstrap  -->
<script src="/static/Sloach/js/controllers/app.js"></script>
<script src="/static/Sloach/js/controllers/auth.js"></script>
<script src="/static/Sloach/js/controllers/profile.js"></script>
<script src="/static/Sloach/js/controllers/club.js"></script>
<script src="/static/Sloach/js/controllers/athlete.js"></script>
<script src="/static/Sloach/js/controllers/MainMenuCtrl.js"></script>

<script src="/static/Sloach/js/services.js"></script>


</body>
</html>