<md-content class="md-padding" layout-xs="column" ng-controller="clubCtrl" layout="row">
    <div flex flex-gt-sm="20">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{club.name}}</span>
                    <span class="md-subhead">{{club.postaladdress}}</span>
                    <span class="md-subhead">{{club.postalzipcode}} {{club.postalcity}}</span>
                 </md-card-title-text>
                <md-card-title-media md-media-sm card-media>
                    <img ng-src="{{clubPictureUrl}}" class="sm-card-image" hide-xs alt="">
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="editClub()">Redigera</md-button>
            </md-card-actions>
        </md-card>
    </div>
    <md-card flex >

        <md-card-content>
          <h2>Simmare</h2>
            <md-input-container flex>
            <input flex ng-model="search" placeholder="sök simmare">
          </md-input-container>

          <md-list>
            <md-item ng-repeat="athlete in club.athletes | filter:search">
              <md-item-content>
                <div class="md-tile-left inset" hide-sm>
                    <user-avatar></user-avatar>
                </div>
                <div class="md-list-item-text" ng-click="viewAthlete(athlete)">
                  <h4>{{athlete.firstname}} {{athlete.lastname}}</h4>
                  <h5>Gruppnamn</h5>
                </div>
              </md-item-content>
              <md-divider md-inset hide-sm ng-if="!$last"></md-divider>
              <md-divider hide-gt-sm ng-if="!$last"></md-divider>
            </md-item>
            <md-divider></md-divider>
          </md-list>
        </md-card-content>
    </md-card>


    <!-- Groups -->

    <md-card flex >
        <md-card-content>
          <md-input-container>

            <input ng-model="searchGroup" placeholder="Sök grupp">
          </md-input-container>
          <h2>Grupper</h2>

          <md-list>
            <md-item ng-repeat="group in club.groups | filter:searchGroup">
              <md-item-content>
                <div class="md-tile-left inset" hide-sm>
                    <user-avatar></user-avatar>
                </div>
                <div class="md-list-item-text" ng-click="viewGroup(group)">
                  <h4>{{group.name}}</h4>
                </div>
              </md-item-content>
              <md-divider md-inset hide-sm ng-if="!$last"></md-divider>
              <md-divider hide-gt-sm ng-if="!$last"></md-divider>
            </md-item>
            <md-divider></md-divider>
          </md-list>
        </md-card-content>
        </md-card>

    <!--div flex layout-md="row">
        <md-list class="md-dense" flex>
        <md-subheader class="md-no-sticky">Simmare</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="athlete in club.athletes">
          <!--img ng-src="{{athlete.imgurl}}" class="md-avatar" alt="{{athlete.firstname}} {{athlete.lastname}}" /-->
          <!--div class="md-list-item-text" layout="column" ng-click="viewAthlete(athlete)" >
            <h3>{{ athlete.firstname}} {{athlete.lastname}}</h3>
            <!--h4>{{ athlete.what }}</h4>
            <p>{{ item.notes }}</p-->
          <!--/div>
        </md-list-item>
        </md-list-->

    </div>
</md-content>