<md-content class="md-primary full-height" ng-controller="auth" layout="column">
  <div layout="row">
    <div flex-gt-md="33" flex="0"></div>
    <div flex-gt-md="33" flex>
      <md-whiteframe layout="column" layout-padding layout-margin flex class="md-whiteframe-2dp vertical-align-top">
      <!-- <md-card class="vertical-align-top"> -->
        <div flex>
          <md-toolbar flex>
            <md-card-title-text>
              <h1 class="md-headline center">Bli medlem</h1>
            </md-card-title-text>
          </md-toolbar>
        </div>

        <div layout="column" layout-margin layout-padding>
          <div layout="row">
            <div flex-gt-md="10" flex="0"></div>
            <form flex-gt-md="80" flex ng-submit="signup()" name="signupForm">
              <input style="display:none">
              <input type="password" style="display:none">
              <md-input-container class="md-block md-icon-float">
                <label>E-post</label>
                <input md-maxlength="72" type="email" name="email" ng-model="credentials.email" required>
                <div ng-messages="signupForm.email.$error" ng-if="signupForm.email.$touched">
                  <div ng-message="required">E-postadressen är obligatorisk</div>
                  <div ng-message="maxLength">E-postadressen får vara max 72 tecken lång</div>
                </div>
              </md-input-container>
              <md-input-container class="md-block md-icon-float">
                <label>Lösenord</label>
                <input type="password" name="password" ng-model="credentials.password" required>
                <div ng-messages="signupForm.password.$error" ng-if="signupForm.password.$touched">
                  <div ng-message="required">Fältet är obligatoriskt</div>
                </div>
              </md-input-container>
              <div layout="row" class="vertical-nudge-top">
                <div flex-gt-md="33" flex="20"></div>
                <md-button type="submit" class="md-raised md-primary" flex-gt-md="33" flex="60">Bli medlem!</md-button>
              </div>

            </form>
          </div>
          <!--div class="center vertical-nudge" layout="row" layout-padding layout-margin>
              <div flex-gt-md="10" flex="0"></div>
              <div flex-gt-md="80" flex>Forgot your <a class="primary" href="#">password?</a></div>
          </div-->
        </div>
      </md-whiteframe>
    </div>
  </div>
</md-content>